body {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.container {
    width: 500px;
    position: relative;
    background-color: #F3F3F3;
}
.header {
    position: fixed;
    top: 0px;
    max-width: 500px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px 0px #0000000D;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
}
.logo {
    height: 53px;
    width: 75px;
}
.people-icon {
    font-size: 42px;
    cursor: pointer;
}
.bottom {
    position: fixed;
    bottom: 0px;
    max-width: 500px;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px 0px #0000000D;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
    box-sizing: border-box;
}
.plane-icon {
    font-size: 28px;
    cursor: pointer;
}
.content {
    background-color:  #F3F3F3;
    max-width: 500px;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-top: 105px;
    word-break: break-all;
}
.public-msg {
    min-height: 40px;
    width: 100%;
    background-color: #FFFFFF;
    margin: 4px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 13px;
    box-sizing: border-box;
    word-break: break-all;
}
.private-msg {
    min-height: 40px;
    width: 100%;
    background-color: #FFDEDE;
    margin: 4px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 13px;
    box-sizing: border-box;
    word-break: break-all;
}
.status {
    min-height: 40px;
    width: 100%;
    background-color: #DCDCDC;
    margin: 4px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 13px;
    box-sizing: border-box;
    word-break: break-all;
}
textarea[type="text"] {
  border: none;
  width: 80%;
  min-height: 7px;
  max-height: 20px;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  resize: none;
}
.time {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #AAAAAA;
}
.user {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.sample {
    font-style: italic;
}
.log-in {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo1 {
    margin-top: 72px;
}
.separate {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    font-family: 'Roboto', sans-serif;
    margin-top: 94px;
    width: 261px;
    height: 54px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #AEAEAE;
    border: 1px solid #AEAEAE;
    border-radius: 4px;
    outline: 0;
}
.button {
    margin-top: 15px;
    width: 109px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 45px;
    background-color: #E7E7E7;
    color: #696969;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
}
.load-img {
    margin-top: 94px;
    width: 130px;
    height: 130px;
    border-radius: 50px;
}
.load {
    margin-top: 15px;
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 400;
    font-size: 18px;
}
.hidden {
    display: none;
}




